.header--title-container h1{
    font-size: 3.4rem;
    line-height: 3.5rem;
}
.header--title-container p{
    font-size: 1.7rem;
    line-height: 1.8rem;
}
.main-tables-container{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}
.product-cards--container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}
.plans-container--slider{
    justify-content: center;
}